node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.env
bash.exe.stackdump

# Android
android/local.properties
android/.gradle/
android/build/
android/app/build/
